{% extends 'starter-page.html' %}
{% load static %}
{% block body %}

    <table class="table table-dark container table-hover">
          <tr>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>PHONE</th>
              <th>DATE</th>
              <th>DEPARTMENT</th>
              <th>DOCTOR</th>
              <th>MESSAGE</th>
              <th>ACTION</th>

          </tr>
<!---code for fetching---->
{% for y in appointment  %}
    <tr>
        <td>{{ y.name }}</td>
        <td>{{ y.email }}</td>
        <td>{{ y.phone }}</td>
        <td>{{ y.date }}</td>
        <td>{{ y.department }}</td>
        <td>{{ y.doctor }}</td>
        <td>{{ y.message }}</td>
        <td>
            <a href="" class="btn btn-success">EDIT</a>
            <a href="/delete/{{ y.id }}"class="btn btn-danger">DELETE</a>

        </td>
    </tr>





{% endfor %}
    </table>








{% endblock %}